<form action="/form" method="POST">
 Please insert your name: <input type="text" name="name"><br>
 Please type here your dreamed nickname: <input type="text" name="username"><br>
 Please type here your password,<br> but please use unique and not important password,<br> because<b> website is not safe</b>: <input type="password" name="password"><br>
 Please repeat yours password: <input type="password" name="password2"><br>
  <input type="submit">
</form>
